<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_document</title>
</head>
<body>
    <h1>rendering......!!</h1>
    <center>
        
        <form action="{% url 'insert_practice_data' %}" method="POST">
            <!-- 'index' -->
            <!-- 'validation' -->
            <!-- 'email_validation' -->
            {% csrf_token %}
            <table border="1">
                <tr>
                    <th>char_name_field</th>
                <td><input type="text" name="char_name" id="" /required></td>
                </tr>
                <tr>
                    <th>date_field</th>
                <td><input type="date" name="date" id="" /required></td>
                </tr>
                <tr>
                    <th>decimal_field</th>
                <td><input type="number" name="decimal" id="" /required></td>
                </tr>
                <tr>
                <tr>
                    <th>email_field</th>
                <td><input type="email" name="email" id="" /required></td>
                </tr>
                <tr>
                    <th>boolean_only</th>
                <td><input type="checkbox" value="True" name="bool_only" id="" ></td>
                <td><input type="checkbox" value="False" name="bool_only" id="" ></td>
                </tr>
                
                <!-- <tr>
                    <th>city</th>
                    <td>
                        <select>
                            <option value="one" selected="selected" name="city">
                                pune
                            </option>
                            <option value="two" name="city">
                                mumbai
                            </option>
                            <option value="three" name="city">
                                goa
                            </option>
                            <option value="four" name="city">
                                vengurla
                            </option>
                           </select>
                    </td>
                </tr>
                <tr> -->
                <td><input type="submit" value="insert" ></td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>